%% -*- erlang -*-

 {require_otp_vsn, "R15|R16"}.

 {erl_opts, [debug_info]}.

 {port_env, [
%  {"CXXFLAGS", "$CXXFLAGS -D_TRACE"},
%% == egen ==
   {"CXXFLAGS", "$CXXFLAGS -I$EGEN_HOME/inc"},
   {"LDFLAGS", "$LDFLAGS -L$EGEN_HOME/lib -legen -lstdc++"},
%% == odbc ==
   {"CXXFLAGS", "$CXXFLAGS -DMSSQL"}, % mysql-x_64, DB_INDICATOR=long
%% -- darwin / iodbc --
   {"darwin", "CXXFLAGS", "$CXXFLAGS -Wno-deprecated-declarations"},
   {"darwin", "LDFLAGS", "$LDFLAGS -L/usr/lib -liodbc -liodbcinst"},
%% -- ubuntu / unixodbc --
   {"linux", "LDFLAGS", "$LDFLAGS -L/usr/lib/x86_64-linux-gnu/odbc -lodbc -lodbcinst"}
 ]}.

 {port_specs, [
   %%
   {"priv/lib/libergen_ce_drv.so", ["c_src/ERGenCE_drv.C",
                                    "c_src/ERGen.C",
                                    "c_src/ERGenDrv.C"]},
   {"priv/lib/libergen_dm_drv.so", ["c_src/ERGenDM_drv.C",
                                    "c_src/ERGen.C",
                                    "c_src/ERGenDrv.C"]},
   {"priv/lib/libergen_mee_drv.so",["c_src/ERGenMEE_drv.C",
                                    "c_src/ERGen.C",
                                    "c_src/ERGenDrv.C"]},
   %%
   {"priv/lib/libergen_bh_drv.so", ["c_src/ERGenBH_drv.C",
                                    "c_src/ERGen.C",
                                    "c_src/ERGenDrv.C",
                                    "c_src/ERGenDB.C",
                                    %% -- myodbc --
                                    "c_src/db/myodbc/odbc.C",
                                    "c_src/db/myodbc/DBDriver.C",
                                    "c_src/db/myodbc/HandleEnv.C",
                                    "c_src/db/myodbc/HandleDbc.C",
                                    "c_src/db/myodbc/HandleStmt.C",
                                    "c_src/db/myodbc/Sequence.C",
                                    "c_src/db/myodbc/CashTransactionStmt.C",
                                    "c_src/db/myodbc/SettlementStmt.C",
                                    "c_src/db/myodbc/TradeHistoryStmt.C",
                                    "c_src/db/myodbc/BrokerVolumeDB.C",
                                    "c_src/db/myodbc/CustomerPositionDB.C",
                                    "c_src/db/myodbc/DataMaintenanceDB.C",
                                    "c_src/db/myodbc/MarketFeedDB.C",
                                    "c_src/db/myodbc/MarketWatchDB.C",
                                    "c_src/db/myodbc/SecurityDetailDB.C",
                                    "c_src/db/myodbc/TradeCleanupDB.C",
                                    "c_src/db/myodbc/TradeLookupDB.C",
                                    "c_src/db/myodbc/TradeOrderDB.C",
                                    "c_src/db/myodbc/TradeResultDB.C",
                                    "c_src/db/myodbc/TradeStatusDB.C",
                                    "c_src/db/myodbc/TradeUpdateDB.C"]}
 ]}.

 {post_hooks, [
               {'get-deps', "$MAKE post_get-deps"},
               {'delete-deps', "$MAKE post_delete-deps"},
               {'compile', "$MAKE post_compile"}
              ]}.

 {clean_files, ["ebin", "doc", "priv", "erl_crash.dump",
                "*/*.*~", "**/*.*~"]}.

 {deps_dir, "deps"}.
 {deps, [
%        {amqp_client, "2.8.7"},
%        {rabbit_common, "2.8.7"}
         {folsom, ".*", {git,"git://github.com/boundary/folsom.git",{tag,"0.7.3"}}}
        ]}.

 {sub_dirs, ["apps/*"]}.
