%% -*- erlang -*-

%% == ERGen: TPC-E benchmark simulator ==
[
 %% -- BH : Brokerage House --
 {ergen_bh, [
             {groups, {seq,101,115,1,3}},
             {driver, [{options, [
                                  {connectString, <<"dsn=myodbc;server=localhost;socket=/tmp/mysql.sock;user=tpce;pwd=tpce;database=tpce">>} % darwin-12.2.0, myodbc
                                  %%{connectString, <<"dsn=myodbc;server=localhost;socket=/var/run/mysqld/mysqld.sock;user=tpce;pwd=tpce;database=tpce">>} % ubuntu-12.04.1, myodbc
                                 ]}]},
             {server, [{connection,<<"amqp://localhost">>}]}
            ]},
 %% -- CE : Customer Emulator --
 {ergen_ce, [
             {groups, {seq,1001,1015,1,3}},
             {driver, [{options, [
                                  {configured_customer_count,1000},
                                  {active_customer_count,1000},
                                  {scale_factor,500},
                                  {days_of_initial_trades,300}
                                 ]}]},
             {server, [{connection,<<"amqp://localhost">>}]}
            ]},
 %% -- DM : Data Maintenance --
 {ergen_dm, [
             {groups, [[1]]},
             {driver, [{options,[
                                 {configured_customer_count,1000},
                                 {active_customer_count,1000},
                                 {scale_factor,500},
                                 {days_of_initial_trades,300}
                                ]}]},
             {server, [{connection,<<"amqp://localhost">>}]}
            ]},
 %% -- MEE : Market Exchange Emulator --
 {ergen_mee,[
             {groups, {seq,11,14,1,2}},
             {driver, [{options,[
                                 {configured_customer_count,1000},
                                 {active_customer_count,1000}
                                ]}]},
             {server, [{connection,<<"amqp://localhost">>}]}
            ]},
 %% -- stat --
 {ergen_st, [
             {groups, [[9]]},
             {server, [{connection,<<"amqp://localhost">>}]}
            ]}
].
